.bannerComponentContainer{
    padding: 10px 0px;
    border-radius: 5px;
    background: rgba(252, 63, 214, 0.55);
    color: white;
    position: relative;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bannerText{
    font-size: 16px;
    padding: 0px 5px;
    text-align: center;
}

.bannerCloseBtn{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgba(252, 63, 214, 0.85);
    font-size: 36px;
    color: white;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}