@import "../variables.scss";

.titles-container {
  width: 850px;
  margin: 80px 0 0 230px;
  .page-title {
    width: 600px;
    .title {
      font-size: 50px;
    }
    .subtitle {
      color: $sencondaryTextColor;
      font-size: 18px;
      margin: 10px 0 0 0;
    }
  }
}

@media (max-width: 1080px) {
    .titles-container {
        margin: 60px 0 0 0;
        .page-title {
        }
      }
}

@media (max-width: 992px) {
    .titles-container {
        width: 85vw;
        .page-title {
          width: 60vw;  
        }
      }
}

@media (max-width: 768px) {
    .titles-container {
        width: 85vw;
        .page-title {
          width: 85vw;
          .title {
            font-size: 40px;
          }
        }
      }
}

