.project {
    margin: 10px;

    .project-footer {
        margin-top: 5px;
        margin-bottom: 10px;

        .tech-stack-project {
            font-weight: 600;
        }

        .tech-lang-project {
            display: inline-block;
            color: #717171;

        }
    }
}
