@import "../../variables.scss";


.create-password-wrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  .create-password-heading{
    color: $primary-color;
  }
  .input-component {
    height: 75px;
    width: 100%;
  }
  .skip-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size:$smallFontSize;
    color:$gray;
    padding: 0px 0 10px;
    &:hover{
        color:$primaryTextColor;
    }
  }
  .create-password-button{
    width: 100%;
    cursor: pointer;
    &:hover{
        background-color:$primaryTextColor;
        color:$primaryColor;
    }
    &:disabled{
      opacity: .5;
      cursor: not-allowed;
    }
  }
  .error-container{
    color: $red;
    font-size: $smallFontSize;
    padding-top: 5px;
  }
  .password-description{
    border: 1px solid $borderGrey;
    padding: 5px ;
    border-radius: 10px;
    .password-requirement-header{
      font-weight: 500;
      font-size: $smallFontSize;
      color: $lightGreyPrimary;
    }
    .password-requirement{
      font-weight: 400;
      color: $lightGreyPrimary;
      font-size: 10px;
    }
  }
}
