@import url("https://fonts.googleapis.com/css?family=Source+Sans+3");
@import url("https://fonts.googleapis.com/css?family=Nunito");

$primaryFontFamily: 'Source Sans 3';
$secondaryFontFamily: 'Nunito';
$primaryBgColor: black;
$primaryColor: white;
