@import '../../components/variables.scss';
.question-page-container{
    height: 100vh;
    width: 100%;
    background-color: $primaryBgColor;
    overflow-x: scroll;
    .question-page-sub-container{
        height: 40px;
        display: flex;
        gap: 14px;
        flex-direction: column;
    }
}