@import "../../components/variables.scss";

.dashboard {
  width: 100%;
  .dashboard-container {
    padding: 20px;
    color: $primaryTextColor;
  }
}


@media (max-width: $screenXl) {
  .dashboard {
    .dashboard-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}