@import "../variables.scss";

.accordion {
  border: 1px solid $lightGreySecondary;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px $lightGreySecondary;

    .accordion-header {
        cursor: pointer;
        padding: 10px;
        background-color: $primaryBg;
        color: $lightBlack;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .drop-up-icon {
            transform: rotate(180deg);
            transition: transform 0.5s;
        }
        
        .drop-down-icon {
            margin: 0px 10px;
            transition: transform 0.5s;
        }

        .drop-down-icon::selection{
            background-color: transparent;
        }

    }
    
    .accordion-content {
        background-color: $primaryBg;
        color: $sencondaryBorderColor;
        max-height: 0;
        overflow: hidden;

        .content-wrapper {
            padding: 10px;
        }
    }


    .open-accordion {
        max-height: 300px;
        transition: max-height 1s;
    }

    .closed-accordion {
        max-height: 0;
        transition: max-height 0.5s;
    }

}