@import "../variables.scss";

.accordion-container{
    width: 100%;
    height: fit-content;
    font-family: 'Nunito';
    background-color: $primaryColor;
    background:radial-gradient(50% 50% at 0% 0%, $radial-gradient 100%);
    box-shadow: 0 0 5px 1px $fadedGrayPrimary;  
    border-radius: 30px;
    border: 1px solid $video-hut-border-color;
    .accordion-header{
        font-size: $subHeaderFontSize;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 50px;
        cursor: pointer;
        position: relative;
        .accordion-title{
            position: absolute;
            z-index: 1;
            font-size: $headerFontSize;
            font-weight: 800;
            color: $fadedGraySecondary;
        }
        .accordion-dropdown-arrow{
            position: absolute;
            z-index: 0;
            transform: rotate(180deg);
            transition: 0.1s;
        }
        .accordion-dropdown-arrow-active{
            transform: rotate(0deg);
        }
        .position-right{
            right: 30px;
        }
        .position-left{
            left:30px;
        }
        .position-center{
            left:50%
        }
    }
   
    .accordion-content {
        color: $primaryColor;
        max-height: 0;
        overflow: hidden;

        .content-wrapper {
            padding: 10px;
        }
    }
    .open-accordion {
        max-height: fit-content;
    }

    .closed-accordion {
        max-height: 0;
    }
}

@media (max-width:$screen-md){
    .accordion-container{
        .accordion-header{
            .accordion-title{
                padding: 40px 30px;
                transition: 0.5s;   
            }
        }
        .open-accordion{
            padding: 5px;
        }
    }
}

@media (max-width:$screen-sm){
    .accordion-container{
        .accordion-header{
            .position-right{
                right: 20px;
            }
            .position-left{
                left:0px;
            }
        }
    }
}