@import "../../components/variables.scss";
.goals-page-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .goals-page-sub-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $screenXs) {
            width: 90%;
        }
        .goals-list-main-wrapper {
            height: 450px;
            margin: 20px;
            background-color: $accent-color-7-faded;
            width: 500px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 2px 2px 1px 1px $accent-color-7;
            border-radius: 5px;
            position: relative;
            .goals-data-key-value-wrapper {
                display: flex;
                gap: 5px;
                border-bottom: 1px solid $Gray29;
                padding: 5px 0px;
                margin-bottom: 5px;
                .goals-data-key {
                    flex-basis: 120px;
                    color: $accent-color-8-faded;
                }
                .goals-data-value {
                    flex-basis: 300px;
                    color: $accent-color-8;
                }
            }
            .goals-start-button {
                width: fit-content;
                padding: 5px 15px;
                margin-top: 5px;
            }
        }
    }
}

.user-response-component {
    display: flex;
    justify-content: space-between;
  }
  .goal-indicator{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    color: $primaryColor;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    font-size: $largerFontSize;
  }
  .completed-indicator {
    background-color: $green;
  }

  .unverified-indicator{
     background-color: $orange;
     color: $textColorBlack;
  }