@import "../variables.scss";


.toast-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    background-color: transparent;
    z-index: 1;
    border-radius: 5px;
    padding: 14px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    >.toast-header {
        display: flex;
        justify-content: space-between;

        >.toast-title {
            font-size: $largerFontSize;
            margin-bottom: 5px;
        }

        >.close-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

    }

    >.toast-description {
        font-size: $smallFontSize;
        margin-bottom: 5px;
    }

}















//   button {
//     position: absolute;
//     top: 0;
//     left: 0;
//     cursor: pointer;
//     background: none;
//     border: none;
//     color: $defaultTextColor;
//   }

//   h3 {
//     margin-bottom: 8px;
//   }

//   p {
//     margin-bottom: 16px;
//   }

//   // Add any additional styling based on your requirements
// }

// .inPlace {
//   // Add styles for the inPlace direction
// }

// .leftCenter {
//   // Add styles for the leftCenter direction
// }

// // Add styles for other directions as needed

// .bgColor {
//   background-color: $defaultBgColor;
// }

// .textColor {
//   color: $defaultTextColor;
// }