@import "../variables.scss";
.sidebar-container-wrapper{
    .sidebar-container-heading{
         color: $primaryTextColor;
    }
    .sidebar-container-children{
        // padding: 5px;
        // padding-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .sidebar-container-children{
        display: flex;
        justify-content: space-between;
        // padding: 0;
        // padding-top: 0;
        gap: 14px;
    }
}