@import "../variables.scss";
.sidebar-container-wrapper{
    .sidebar-container-heading{
         color: $primaryTextColor;
    }
}

@media screen and (max-width: 480px) {
    .sidebar-container-children{
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
}