@import "../../variables.scss";

@mixin password-login-wrapper{
    color: $primary-color;
      padding: 5px 0;
      cursor: pointer;
      font-size: $smallFontSize;
      &:hover{
        color: $primaryTextColor;
      }
}
.login-component-wrapper {
  .input-component {
    height: 75px;
    width: 100%;
  }
  .heading-wrapper {
    color: $primaryColor;
    padding: 10px 0;
  }
  .forget-password-login-with-otp-wrapper{
    display: flex;
    justify-content: space-between;
    .forget-password{
      @include password-login-wrapper
    }
    .login-with-top{
      @include password-login-wrapper
    }
  }
   .login-button{
    width: 100%;
    margin-top: 10px;
    font-size: $largerFontSize;
   }
  
}
