@import '../../components/variables.scss';

.button-component {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: $primaryBg;
  color: $sencondaryBg;
  font-weight: 550;
  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
  &:not([disabled]):hover{
      background-color: $sencondaryBg;
      border: none;
      color: $primaryBg;
  }
  .loader-postion-style {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    .loader-icon {
      width: fit-content;
      height: 30px;
    }
  }
  .icon-position-center {
    display: flex;
    align-items: center;
    justify-content: center;
    .loader-button {
      display: none;
    }
  }
  .icon-position-left {
    .loader-left-button {
      display: none;
    }
  }
  .icon-position-right {
    .loader-right-button {
      display: none;
    }
  }
}
.contained-button-style {
  background-color: $sencondaryBg;
  color: $primaryBg;
}
.outlined-button-style {
  border: 1px solid $primaryBorderColor;
}
.text-button-style {
  border: none;
  &:not([disabled]):hover{
      background-color: $primaryBg;
      font-size: 15px;
      color:$sencondaryBg;
  }
}

.small-fontsize {
  font-size: $smallFontSize;
}
.medium-fontsize {
  font-size: $mediumFontSize;
}
.large-fontsize {
  font-size: $largerFontSize;
}
