.button-component {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: #1565C0;
  font-weight: 550;
  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
  &:not([disabled]):hover{
      background-color: rgb(79, 77, 77);
      border: none;
      color: #fff;
  }
  .loader-postion-style {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    .loader-icon {
      width: fit-content;
      height: 30px;
    }
  }
  .icon-position-center {
    margin: 0 30px;
    .loader-button {
      display: none;
    }
  }
  .icon-position-left {
    .loader-left-button {
      display: none;
    }
  }
  .icon-position-right {
    .loader-right-button {
      display: none;
    }
  }
}
.contained-button-style {
  background-color: #1565C0;
  color: #fff;
}
.outlined-button-style {
  border: 1px solid #1565C0;
}
.text-button-style {
  border: none;
  &:not([disabled]):hover{
      background-color: white;
      font-size: 15px;
      color:#1565C0;
  }

}

.small-fontsize {
  font-size: 14px;
}
.medium-fontsize {
  font-size: 16px;
}
.large-fontsize {
  font-size: 18px;
}
