@import "../../components/variables.scss";

@font-face {
    font-family: Nunito;
    src: url(../../styles/fonts/Nunito_VariableFont_wght.ttf);
}

.video-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: Nunito;
    justify-content: center;
    gap: 20px;

    .filter-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .filter-wrapper{
            display: flex;
            flex-wrap: wrap;
            width: 40vw;
            justify-content:center;
            gap: 5px;

            .filter-tag{
                border: 1px solid var(--videohut-framer-website-nero-30, rgba(255, 255, 255, 0.3));
                border-radius: 25px;
                background-color: #161616;
                font-size: 18px;
                text-align: center;
                padding: 2px 15px;
                
                &:hover{
                    background-color: #88533c7c;
                    transition:  0.3s;
                    cursor: pointer;
                    color: #ca6e43;
                    border-color:  #88533c;
                }
            }

            .active-tag{
                background-color: #3D2216;
                font-weight: 600;
                cursor: pointer;
                color: #ca6e43;
                border-color:  #ca6e43;
            }
            .clear-filter{
                border: 2px solid var(--videohut-framer-website-nero-30, rgba(239, 29, 29, 0.479));
                border-radius: 25px;
                background-color: #161616;
                color: red;
                font-size: 18px;
                text-align: center;
                padding: 2px 15px;
                transition: 0.2s;
                &:hover{
                    cursor: pointer;
                    transform: scale(105%);
                }
            }
        }

    }

    .video-container{
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}