@import "../../components/variables.scss";
.user-payment-page {
  padding: 20px;
  width: 100%;
  min-height: 100%;
  background-color: $primaryBgColor;
  .user-payment-page-header {
    margin-bottom: 20px;
  }
  .fee-plan-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .fee-plan-card-input-wrapper{
      width: 450px;
      // width: 60vw;
      margin-bottom: 15px;
      input[type="radio"] {
        margin-right: 10px;
      }
    }
  }

  .fee-plan-installment-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .button-wrapper {
    margin-top: 20px;
  }
  
  .button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9; 
    }
  
    &:disabled {
      background-color: #bdc3c7;
      cursor: not-allowed;
    }
  }
}