@import "../variables.scss";
.scheduling-page-filter-container {
  width: 20%;
  height: fit-content;
  background-color: $Gray35;
  border-radius: 7px;
  padding: 20px;
  border: 1px solid $Gray29;

  .filter-sub-container {
    .filter-heading {
      border-bottom: 1px solid $lightGreyPrimary;
      font-size: $titleFontSize;
    }

    .checkbox-content {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 10px;

      .checkbox-wrapper {
        display: flex;
        gap: 5px;
        align-items: center;

        .checkbox-input {
          width: 15px;
          height: 15px;
          cursor: pointer;
        }

        .checkbox-label {
          font-size: $mediumFontSize;
          color: $sencondaryTextColor;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: $screenMd) {
  .scheduling-page-filter-container {
    width: 100%;

    .checkbox-content {
      flex-direction: row;
      width: 100%;
    }
    .filter-sub-container {
      margin: 0;
    }
  }
}
