.buttonComp, .hoverOnButton,.clickOnButton{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: rgb(26, 74, 219);
}
.contained{
    background-color:"blue";
    color:#fff;    
    background-color: rgb(15, 146, 198);
}
.outlined{
    border: 2px solid rgb(26, 74, 219);;
}
.text{
    border: none;
}

.small{
    font-size: 14px;
}
.medium {
    font-size: 16px;
}
.large {
    font-size: 18px;
}
.hoverOnButton{
    background-color: grey;
}
.clickOnButton{
    background-color: rgba(255, 255, 0, 0.838)
}



