.defaultClass{
    border: none;
    background: var(--red);
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
}