.flowChartBlack{
    background: #000;
    color: #fff;
}
.flowChartWhite{
    background: var(--light-red);
    color:#000;
}
.flowChart {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    position: relative;
    padding-bottom: 50px;
    .flowChartPic {
        width: 80%;
        height: fit-content;
        
    }
    .flowChartPicCircle {
        position: absolute;
        height: 10vw;
        left: 0;
        top: 50%;
    }
}

@media only screen and (max-width: 800px) {
   .flowChart{
    //    display: none;
   }
}