@import "../../components/variables.scss";

.scheduling-page {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  padding: 20px 10px;
  gap: 30px;
  background-color: $primaryBgColor;
  font-family: $primaryFontFamily;
  .scheduling-page-filter-container {
    width: 20%;
    height: fit-content;
    background-color: $fadedGrayPrimary;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;

    .filter-sub-container {
      font-size: $largerFontSize;

      .filter-heading {
        border-bottom: 1px solid $lightGreyPrimary;
      }

      .checkbox-content {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;

        .checkbox-wrapper {
          display: flex;
          gap: 5px;
          align-items: center;

          input[type="checkbox"] {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }

          label {
            font-size: $mediumFontSize;
            cursor: pointer;
          }
        }
      }
    }
  }
  .scheduling-page-accordion {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 20px;

    .parent {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      gap: 30px;

      .schedule-accordion-column-1 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 100%;
        margin-left: 0px;
        font-size: $subHeaderFontSize;
        padding: 0px 50px;
        text-align: justify;
      }

      .daylist-container-column-2 {
        display: flex;
        gap: 35px;
        display: flex;
        line-height: normal;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 50px;
        padding-bottom: 50px;

        .day-container {
          display: flex;
          align-items: center;
          border-radius: 3px;
          color: $primaryColor;
          padding: 50px;
          border-radius: 50px;
          border: 2px solid $video-hut-border-color;
          background: radial-gradient(50% 50% at 0% 0%, $radial-gradient 100%);
          transition: all 0.3s;
          &:hover {
            box-shadow: 1px 0px 30px 5px $primaryBgColorOnHover;
          }
        }
      }
      .accordion-button-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .day-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .topic-tags {
          display: flex;
          gap: 10px;
          position: relative;
          font-size: $smallFontSize;

          .tag {
            transition: 0.3s;
            padding: 5px;
            border-radius: 10%;
            &:hover {
              transform: scale(120%);
            }
          }
          .hidden-tags {
            position: absolute;
            display: none;
            gap: 10px;
            opacity: 0;
            right: -80px;
            top: 0px;
            transition: 1s;
            &:hover{
              display: flex;
              opacity: 1;
            }
          }
          .show-tags{
            opacity: 1;
            &:hover{
              opacity: 0;
            }
            &:hover ~ .hidden-tags {
              display: flex;
              opacity: 1;
          }}
          .red {
            color: #ff7a3b;
            background-color: rgba(255, 121, 59, 0.15);
          }

          .pink {
            color: rgb(212, 88, 206);
            background-color: rgba(212, 88, 206, 0.15);
          }

          .blue {
            color: rgb(34, 167, 219);
            background-color: rgba(34, 167, 219, 0.15);
          }
        }
        .title {
          font-size: $subHeaderFontSize;
          font-family: $secondaryFontFamily;
        }

        .description {
          font-size: $largerFontSize;
        }

        .btn-wrapper {
          display: flex;
          gap: 15px;
          align-items: center;
          flex-wrap: wrap;

          .btn {
            border: 1px solid $video-hut-border-color;
            background-color: $secondaryBorderColorHighlighted;
            color: $primaryColor;
            border-radius: 15px;
            transition: all 0.3s;

            &:hover {
              background-color: $primaryBgColor;
              box-shadow: 1px 0px 5px 2px $primaryBgColorOnHover;
              transition: all 0.3s;
              border-color: transparent;
              transform: scale(110%);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .parent {
    max-width: 100%;
    padding: 0 20px;
  }
  .scheduling-page-accordion {
    padding: 10px;
    padding-top: 30px;
  }
}

@media (max-width: 650px) {
  .scheduling-page {
    gap: 0;
    flex-direction: column;

    .scheduling-page-filter-container {
      width: 100%;

      .checkbox-content {
        flex-direction: row;
        width: 100%;
      }
      .filter-sub-container {
        margin: 0;
      }
    }
    .scheduling-page-accordion {
      width: 100%;
      padding: 10px;
      transition: 0.5s ease-in;

      .parent {
        .schedule-accordion-column-1 {
          font-size: $largerFontSize;
          padding: 0px 30px;
        }

        .daylist-container-column-2 {
          padding: 0px 30px;
          padding-bottom: 20px;
          .day-container {
            padding: 25px;
            transition: 0.5s;

            .accordion-button-container {
              .description {
                font-size: 20px;
              }
            }
          }
        }
        .day-header {
          flex-direction: column;
          gap: 10px;
          transition: 0.5s;
        }
      }
    }
  }
}
