@import "../../variables.scss";

.course-image-box {
    border: 1px solid $tertiaryBackgroundColor;
    margin: 30px 0 0 230px;
    width: 850px;
    height: 300px;
    overflow-x: hidden;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }

    .image-container {
      width: 850px;
      height: 300px;
      padding: 20px;
      position: relative;
      overflow: hidden;
      margin-bottom: 1vh;
      .courses-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70vw;
        transform: translate(-50%, -50%);
      }
      .course-title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(58, 58, 58, 0.32);
        border-radius: 50px;
        width: 600px;
        text-align: center;
        .course-image-title {
          font-size: 60px;
          font-weight: 600px;
        }
        .course-image-subtitle {
          font-size: 20px;
          font-weight: 600px;
        }
      }
    }
    .image-container:last-child {
      margin-bottom: 0px;
    }
  }

@media (max-width: 1080px) {
    .course-image-box {
        margin: 6vh 0 0 0;
        .image-container {
        .courses-image {
            width: 85vw;
          }
      }
    }
}

@media (max-width: 992px) {
    .course-image-box {
        margin: 6vh 0 0 0;
        width: 85vw;
        .image-container {
          width: 85vw;
          .courses-image {
            width: 85vw;
          }
          .course-title-container {
            border-radius: 5vw;
            width: 60vw;
            text-align: center;
            .course-image-title {
              font-size: 60px;
            }
            .course-image-subtitle {
              font-size: 20px;
            }
          }
        }
      }
}

@media (max-width: 768px) {
    .course-image-box {
        .image-container {
            .courses-image {
            width: 850px;
          }

          .course-title-container {
            .course-image-title {
              font-size: 8vw;
            }
            .course-image-subtitle {
              font-size: 3vw;
            }
          }
        }
      }
}

@media (max-width: 576px) {
    .course-image-box {
        .image-container {
          .course-title-container {
            .course-image-title {
              font-size: 8vw;
            }
            .course-image-subtitle {
              font-size: 3vw;
            }
          }
        }
      }
}