@import "../../components/variables.scss";

.scheduling-page {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 15px;
  background-color: $primaryBgColor;
  font-family: $primaryFontFamily;
  color: $primaryTextColor;
  &::-webkit-scrollbar {
    display: none;
  }

  .schedule-page-meet-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .schedule-page-meet-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $primaryBg;
      padding: 10px;
      border-radius: 5px;
      gap: 10px;
      cursor: pointer;
    }
  }
  .schedule-page-header-filter-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .schedule-page-header {
      font-size: 30px;
    }
  }
  .scheduling-page-accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .pro-membership-weeks{
      border-color: $premiumColor;
    .accordion-content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 20px;

      .week-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
        font-size: $drawerFontSize;
        color: $sencondaryTextColor;
        font-weight: 600;
      }
      .pro-membership-info-container{
        color: $premiumColor;
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        .pro-membership-info-text{
          font-size: $textFontSize;
        }
      }
      .daylist-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        width: 100%;
        .day-container {
          color: $primaryColor;
          padding: 10px;
          border-radius: 7px;
          border: 1px solid $videoHutBorderColor;
          width: 100%;
          background-color: $Gray35;
          transition: all 0.3s;
          display: flex;
          flex-direction: column;
          gap: 12px;
          &:hover {
            cursor: pointer;
          }
          .day-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .day-title-and-date-wrapper {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .day-title {
                font-size: $mediumFontSize;
                font-family: $secondaryFontFamily;
              }
              .day-date-info{
                font-size: $smallFontSize;
                color: $gray;
              }
            }
            .topic-tags {
              display: flex;
              gap: 10px;
              position: relative;
              font-size: $smallFontSize;
              @media (max-width: $screenSm) {
                font-size: $extraSmallFontSize;
              }
              .topic-tag {
                transition: 0.3s;
                padding: 5px;
                border-radius: 5px;
                background-color: rgba(132, 131, 131, 0.15);
                &:hover {
                  transform: scale(110%);
                }
                @media (max-width: $screenSm) {
                  padding: 2px 3px;
                }
              }
              .hidden-tags {
                position: absolute;
                display: none;
                gap: 10px;
                opacity: 0;
                right: -80px;
                top: 0px;
                transition: 1s;
              }
              .show-hidden-tag {
                display: flex;
                opacity: 1;
              }
              .html {
                color: $accent-color-2;
              }
              .css {
                color: $accent-color-3;
              }
              .js {
                color: $accent-color-4;
              }
              .react {
                color: $accent-color-1;
              }
            }
          }

          .day-description {
            color: $sencondaryTextColor;
            font-size: $largerFontSize;
            width: 100%;
          }

          .buttons-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 100%;
            .button.join-meet-btn {
              border: 1px solid $success-500;
              background-color: $success-800;
              &:hover {
                color: $primaryColor;
                border: 1px solid $success-200;
                background-color: $success-800;
              }
            }
            .button {
              border: 1px solid $videoHutBorderColor;
              background-color: $secondaryBorderColorHighlighted;
              color: $primaryColor;
              border-radius: 5px;
              transition: all 0.3s;

              &:hover {
                color: $sencondaryTextColor;
                background-color: $Gray43;
              }
              &:disabled:hover {
                background-color: $secondaryBorderColorHighlighted;
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
  }
  }
}
@media (max-width: $screenLg) {
  .scheduling-page-accordion {
    .accordion-content-wrapper {
      max-width: 100%;
      padding: 0 20px;  
    }
  }
}

@media (max-width: $screenMd) {
  .scheduling-page {
    .scheduling-page-accordion {
      .accordion-content-wrapper {
        .daylist-container {
          padding: 0px 30px;
          padding-bottom: 20px;
          .day-container {
            border-radius: 25px;
            padding: 20px;
            align-items: center;
            transition: 0.5s;
            .day-description {
              font-size: $mediumFontSize;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screenXs) {
  .scheduling-page {
    .scheduling-page-accordion {
      .accordion-content-wrapper {
        .daylist-container {
          padding: 10px 0px;
          .day-container {
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            .day-header {
              gap: 5px;
              transition: 0.5s;
            }
            .buttons-wrapper {
              display: flex;
              align-items: center;
            }
            .day-description {
              font-size: $smallFontSize;
            }
          }
        }
      }
    }
  }
}
