@import "../../components/variables.scss";

.scheduling-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 30px;
  background-color: $primaryBgColor;
  font-family: $primaryFontFamily;
  color: $primaryTextColor;
  &::-webkit-scrollbar{
    display: none;
  }

  .schedule-page-meet-container{
    width: 100%;
    display: flex;
    justify-content: end;
    .schedule-page-meet-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $primaryBg;
      padding: 10px;
      border-radius: 5px;
      gap: 10px;
      cursor: pointer;
    }
  }

  .scheduling-page-accordion {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .no-data-found{
      font-size: $largerFontSize;
    }
    .accordion-content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .week-description {
        display: flex;
        flex-direction: column;
        font-size: $titleFontSize;
        color: $sencondaryTextColor;
      }

      .daylist-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;

        .day-container {
          display: flex;  
          align-items: center;
          color: $primaryColor;
          padding: 10px;
          border-radius: 7px;
          border: 1px solid $videoHutBorderColor;
          width: 48vw;
          background-color: $Gray35;
          background: radial-gradient(50% 50% at 0% 0%, $radialGradient 100%);
          transition: all 0.3s;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          gap: 10px;
          &:hover{
            cursor: pointer;
          }
          .day-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .topic-tags {
              display: flex;
              gap: 10px;
              position: relative;
              font-size: $smallFontSize;

              .topic-tag {
                transition: 0.3s;
                padding: 5px;
                border-radius: 5px;
                background-color: rgba(132, 131, 131, 0.15);
                &:hover {
                  transform: scale(110%);
                }
              }
              .hidden-tags {
                position: absolute;
                display: none;
                gap: 10px;
                opacity: 0;
                right: -80px;
                top: 0px;
                transition: 1s;
              }
              .show-hidden-tag {
                display: flex;
                opacity: 1;
              }
              .html {
                color: $accent-color-2;
              }
              .css {
                color: $accent-color-3;
              }
              .js {
                color: $accent-color-4;
              }
              .react {
                color: $accent-color-1;
              }
            }
          }
          .day-title {
            font-size: $textFontSize;
            font-family: $secondaryFontFamily;
          }

          .day-description {
            font-size: $largerFontSize;
          }

          .buttons-wrapper {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            width: 45vw;

            .button {
              border: 1px solid $videoHutBorderColor;
              background-color: $secondaryBorderColorHighlighted;
              color: $primaryColor;
              border-radius: 5px;
              transition: all 0.3s;

              &:hover {
                color: $sencondaryTextColor;
                background-color: $Gray43;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $screenLg) {
  .scheduling-page-accordion {
    padding: 10px;
    padding-top: 30px;

    .accordion-content-wrapper {
      max-width: 100%;
      padding: 0 20px;
    }
  }
}

@media (max-width: $screenMd) {
  .scheduling-page {
    gap: 0;
    flex-direction: column;

    .scheduling-page-accordion {
      width: 100%;
      padding: 10px;
      transition: 0.5s;

      .accordion-content-wrapper {
        .accordion-description {
          font-size: $largerFontSize;
          padding: 0px 30px;
        }

        .daylist-container {
          padding: 0px 30px;
          padding-bottom: 20px;
          .day-container {
            border-radius: 25px;
            padding: 20px;
            transition: 0.5s;

            .day-description {
              font-size: $largerFontSize;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screenXs) {
  .scheduling-page {
    .scheduling-page-accordion {
      .accordion-content-wrapper {
        .accordion-description {
          padding: 0px 15px;
          font-size: $mediumFontSize;
        }

        .daylist-container {
          padding: 0px 15px;
          
          .day-container {
            border-radius: 10px;
            padding: 20px;
            width: 100%;

            .day-header {
              flex-direction: column;
              gap: 10px;
              transition: 0.5s;
            }
            .buttons-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .day-description {
              font-size: $smallFontSize;
            }
          }
        }
      }
    }
  }
}
