@import "../variables.scss";
.sidebar-main-container{
    height: 100vh;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px $boxShadowGrey;
    background-color: $secondaryBgColor;
    border-right: 1px solid $boxShadowGrey;
    position: relative;
    .sidebar-arrow-icon{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        right: 0%;
        top: 50px;
        transform: rotate(180deg) translate(-50%, 0%);
        z-index: 6;
        background-color: $primaryTextColor;
        box-shadow: 0px 0px 1px 1px $boxShadowGrey;
    }
    .left-side-arrow{
        transform: translate(50%, 0%);
    }
    .sidebar-main-sub-container{
        width: 100%;
    }
    .sidebar-last-option-btn{
        display: flex;
    }
    .sidebar-btn-mobile-view{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .sidebar-main-container{
        display: flex;
        position: absolute;
        bottom: 0%;
        transform: translate(0%, 0%);
        width: 100%;
        overflow: auto;
        height: 90px;
        z-index: 10;
        flex-direction: row;

        &::-webkit-scrollbar{
            display:none;
        }
        .sidebar-arrow-icon{
            display: none;
        }
        .sidebar-last-option-btn{
            display: none;
        }
        .sidebar-btn-mobile-view{
            display: block;
        }
    }
}