.main {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-page {
    position: relative;
    background-color: rgb(33, 32, 32);
    height: 60vh;
    width: 30vw;
    padding: 50px;
    border-radius: 10px;
    .error-text{
      position: absolute;
      top: 10px;
      left: 10px;
      font-family: "Montserrat";
      font-size: 1vmax;
      color: red;
    }
    .screen1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .text{
          margin-left: -80px;

          .h1{
            color: #F6F6F6;
            font-family: "Montserrat";
            font-weight: 500;
            margin-bottom: 10px;
        }
        .h3{
          color: #808080;
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 1vmax;
            margin-bottom: 10px;
        }
        }
        
      .input{
        padding: 10px;
        background-color: transparent;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        width: 20vw;
        height: 7vh;
        margin-bottom: 10px;
        color: #F6F6F6;
      }
      .button{
        padding: 10px;
        background-color: #F6F6F6;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        color: black;
        font-weight: 700;
        width: 20vw;
        height: 7vh;
        margin-top: 10px;
        cursor: pointer;
      }
      .hr{
        width: 20vw;
        margin-top: 10px;
      }
      .link{
        background-color: transparent;
        border: none;
        color: #808080;
      }
      .link:hover{
        cursor: pointer;
        color: #F6F6F6;
      }
    }
    .screen2{
      position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .h1{
            color: #F6F6F6;
            font-family: "Montserrat";
            font-weight: 500;
            margin-bottom: 10px;
        }
        .back-arrow{
          position: absolute;
          top: 0;
          left: 5px;
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .back-arrow:hover{
          border-radius: 50%;
          border:1px solid #808080;
          cursor: pointer;
          box-shadow: 0 0 1px 1px #808080a8;
        }
      .input{
        padding: 10px;
        background-color: transparent;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        width: 20vw;
        height: 7vh;
        color: #F6F6F6;

      }
      .button{
        padding: 10px;
        background-color: #F6F6F6;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        color: black;
        font-weight: 700;
        width: 20vw;
        height: 7vh;
        cursor: pointer;
      }
      .hr{
        width: 20vw;
        margin-top: 10px;
      }
      .link{
        background-color: transparent;
        border: none;
        color: #808080;
      }
      .link:hover{
        cursor: pointer;
        color: #F6F6F6;
      }
    }

    .screen3{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .h1{
            color: #F6F6F6;
            font-family: "Montserrat";
            font-weight: 500;
            margin-bottom: 10px;
        }
      .input{
        padding: 10px;
        background-color: transparent;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        width: 20vw;
        height: 7vh;
        color: #F6F6F6;

      }
      .button{
        padding: 10px;
        background-color: #F6F6F6;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        color: black;
        font-weight: 700;
        width: 20vw;
        height: 7vh;
        cursor: pointer;
        margin-bottom: 40px;
      }
      .button2{
        padding: 10px;
        background-color: #F6F6F6;
        border: 1px solid rgb(78, 77, 77);
        border-radius: 10px;
        color: black;
        font-weight: 700;
        width: 20vw;
        height: 7vh;
        cursor: pointer;
        margin-top: 40px;
      }
      .hr{
        width: 20vw;
        margin-top: 10px;
      }
      .link{
        margin-left: 220px;
        background-color: transparent;
        border: none;
        color: #808080;
      }
      .link:hover{
        cursor: pointer;
        color: #F6F6F6;
      }
    }
  }
}
