@import "../variables.scss";
.main {
  height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-page {
    position: relative;
    background-color: $darkGrey;
    width: 440px;
    min-height: 400px;
    padding: 50px;
    border-radius: 10px;
    font-family: "Montserrat";
  }
}

@media (max-width: 500px) {
  .main{
    width: 100%;
    .login-page{
      width: 300px;    
      padding: 50px 25px;

    }
  }
}