.previewImages {
    width: fit-content;
    right: 0;
    top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    // border: 20px solid orange;
    // border-radius: 95px 155px 148px 103px / 48px 95px 130px 203px;
    // .preview1{
    //     // border: 15px solid orange;
    //     // border-radius: 5px;
    //     // border-radius: 30%;
    //     width: 400px;
    //     height: 400px;
    // }
    .preview2 {
        position: relative;
        top: 70px;
        // border: 15px solid orange;
        border-radius: 10%;
        right: 100px;
        width: 600px;
        height: 600px;
    }

    .preview3 {
        position: absolute;
        z-index: 1;
        top: 300px;
        right: 0;
        width: fit-content;
        height: fit-content;
    }
}

@media only screen and (max-width: 800px) {
    .previewImages {
        display: flex;
        justify-content: center;
        align-items: center;
        // .preview1 {
        //     top: 600px;
        //     z-index: 1;
        //     position: absolute;
        //     right: 0;
        //     width: 80vw;
        //     height: fit-content;
        // }
        .preview2 {
            top: 667px;
            z-index: 3;
            right: 0;
            width: 100vw;
            height: fit-content;
        }


        .preview3 {
            top: 700px;
            z-index: 2;
            width: 72vw;
            height: fit-content;
        }
    }


}