@import "../variables.scss";

.sub-container {
    display: flex;
    align-items: flex-start;
    transition: background-color 0.1s linear;
    padding: 0;
    overflow-x: hidden;
    padding-block: 5px;

    &:hover {
        cursor: pointer;
        background-color: #1c1c1c;
    }

    &.icon-not-available {
        padding-left: 30px;
    }

    .img-sub-container {
        margin-right: 15px;
    }

    .aside-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .sub-header {
            font-weight: bold;
            font-size: $mediumFontSize;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .sub-description {
            color: $gray;
            font-size: $smallFontSize;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }

        .sub-links {
            margin-top: 5px;
            letter-spacing: 2px;
            font-size: $smallFontSize;
        }
    }
}
@media (max-width: $screenMd) {
    .sub-container{
        padding-left: 10%;
    }
  }