$primaryBg:#fff;
$primaryTextColor:#1565C0;
$primaryBorderColor:#1565C0;
$sencondaryBg:#1565C0;
$primaryBorderColor:#1565C0;
$primaryBgColorOnHover:#4f4d4d;
$sencondaryBorderColor:rgba(0, 0, 0, 0.1);
$smallFontSize:14px;
$mediumFontSize:16px;
$largerFontSize:18px;