$primaryBg: #fff;
$red: red;
$blue:rgb(14, 114, 177);
$lightBluePrimary: rgba(144, 193, 224, 0.500);
$lightBlueSecondary: rgba(144, 193, 224, 0.250);
$lightGrey:rgb(172, 163, 163);
$gray: gray;
$primaryTextColor:#1565C0;
$primaryBorderColor:#1565C0;
$sencondaryBg:#1565C0;
$primaryBorderColor:#1565C0;
$primaryBgColorOnHover:#4f4d4d;
$sencondaryBorderColor:rgba(0, 0, 0, 0.1);
$smallFontSize:14px;
$mediumFontSize:16px;
$largerFontSize:18px;
$textFontSize:24px;
$drawerFontSize:20px;
$bottomBorderColor:rgb(129, 128, 128);
$boxShadowColor:rgb(162, 161, 161 ,0.5);
$textColorBlack:#000;