@font-face {
  font-family: "Nunito";
  src: url("../styles/fonts/Nunito_VariableFont_wght.ttf");
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../styles/fonts/SourceSans3-VariableFont_wght.ttf");
}
$primaryFontFamily: "Source Sans 3";
$secondaryFontFamily: "Nunito";
$primaryBgColor: black;
$primaryColor: white;
$primaryBg: #fff;
$red: red;
$blue: rgb(14, 114, 177);
$lightBlue: #2196f3;
$lightBluePrimary: rgba(144, 193, 224, 0.5);
$lightBlueSecondary: rgba(144, 193, 224, 0.25);
$lightBlack: rgba(25, 25, 25, 0.849);
$lightGreyPrimary: rgb(172, 163, 163);
$lightGreySecondary: rgba(203, 200, 200, 0.854);
$gray: gray;
$primaryTextColor: #1565c0;
$primaryBorderColor: #1565c0;
$sencondaryBg: #1565c0;
$primaryBorderColor: #1565c0;
$primaryBgColorOnHover: #4f4d4d;
$sencondaryBorderColor: rgba(0, 0, 0, 0.1);
$bacgroundBlackColor: #000;
$smallFontSize: 14px;
$mediumFontSize: 16px;
$largerFontSize: 18px;
$textFontSize: 24px;
$drawerFontSize: 20px;
$subHeaderFontSize: 25px;
$headerFontSize: 40px;
$bottomBorderColor: rgb(129, 128, 128);
$boxShadowColor: rgb(162, 161, 161, 0.5);
$textColorBlack: #000;
$menuBarFontSize: 34px;
$boxShadowColor: rgb(145, 143, 143);
$primaryBoxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$redBorderColor: rgba(239, 29, 29, 0.479);
$lightOrangeColor: rgb(202, 110, 67);
$orangeColor: rgb(136, 83, 60);
$fadedOrangeColor: rgba(136, 83, 60, 0.4);
$darkOrangeColor: rgb(61, 34, 22);

$screenXs: 480px;
$screenSm: 576px;
$screenMd: 768px;
$screenLg: 992px;
$screenXl: 1200px;
