.question-input-container {
  width: 100%;
}
.option-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;

  .accordian-container {
    padding: 10px 20px;
    width: 100%;
    .accordion-header {
      padding-bottom: 10px 0px;
    }
    .accordion-content {
        width: 100%;
    }
  }
}
