@import "../variables.scss";

.experience {
    margin: 30px 10px 30px 10px;
    padding: 30px;

    .header-experience {
        word-spacing: 2px;
        font-size: $largerFontSize;
        font-weight: 500;

        .company-name {
            font-size: $subHeaderFontSize;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }

    .sub-heading {
        font-size: $smallFontSize;
        gap: 2px;

        div {
            color: $Gray29;
        }
    }


    .experience-footer {
        margin-top: 5px 0 10px 0;
        font-size: $mediumFontSize;

        .tech-stack-experience {
            font-size: $smallFontSize;
        }

        .tech-lang-experience {
            margin-top: 10px;
            display: inline-block;
        }
    }

    &:hover {
        background-color: $Gray35;
    }
}

// 786
@media (max-width: $screenMd) {
    .experience {
        margin: 10px 5px 10px 5px;
        padding: 15px;

        .header-experience {
            word-spacing: 2px;
            font-size: $mediumFontSize;
            font-weight: 500;
        }

        .sub-heading {
            font-size: $smallFontSize;
        }


        .experience-footer {
            margin-top: 5px 0 10px 0;

            .tech-stack-experience {}

            .tech-lang-experience {
                margin-top: 10px;
                display: inline-block;
            }
        }
    }
}
