@import "../variables.scss";
.login-wrapper-container {
  height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-page {
    background-color: $darkGrey;
    width: 440px;
    min-height: 400px;
    padding: 50px;
    border-radius: 10px;
    font-family: "Montserrat";
  }
}

@media (max-width: 500px) {
  .login-wrapper-container {
    width: 100%;
    .login-page {
      width: 300px;
      padding: 50px 25px;
    }
  }
}
