@import "../../variables.scss";
.top-button-container {
    width: 850px;
    margin: 10px 0 0 230px;

    .top-button {
      padding: 10px 0 10px 0;

      .about-button {
        background-color: $mySecondaryBackgroundColor;
        padding: 10px 20px 10px 20px;
        color: $primaryTextColor;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid $tertiaryBackgroundColor;
        transition: 0.6s;
      }
      .about-button:hover {
        color: $sencondaryTextColor;
        background-color: $fourthBackgroungColor;
      }
      .Email-button {
        background-color: $sencondaryBg;
        background: none;
        padding: 10px 20px 10px 20px;
        color: $primaryTextColor;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid $tertiaryBackgroundColor;
        margin: 0 0 0 10px;
        transition: 0.6s;
      }
      .Email-button:hover {
        color: $sencondaryTextColor;
      }
    }
  }

@media (max-width: 1080px) {
    .top-button-container {
        margin: 0 0 0 0;
        .top-button {
          margin-top: 6vh;
        }
      }
}
@media (max-width: 992px) {
    .top-button-container {
        margin: 0 0 0 0;
        width: 85vw;
        .top-button {
          margin: 6vh 0 0 0;
        }
      }
}

@media (max-width: 768px) {
    .top-button-container {
        width: 85vw;
        .top-button {
          margin: 0 0 0 0;
        }
      }
}

@media (max-width: 576px) {
  .top-button {
    margin: 2vh 0 0 0;
  }
}

