@import "../../components/variables.scss";

.checkbox-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 15px;

    .checkbox-label {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        .checkbox-wrapper{
            position: absolute;
            padding: 20px;
            border-radius: 50%;
            display: flex;
            transition: all 0.3s;
            opacity: 0;
            background-color: $lightBlue;
            top: 50%;
            transform: translate(-25%, -50%);
            
        }

        .checkbox-wrapper:hover{
            opacity: 0.1;
        }

        .custom-checkbox {
            position: relative;
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            display: inline-block;
            background-color: $lightBlue;
            
            .checkmark-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .checkmark-icon::selection{
                background-color: transparent;
            }
        }
        
        .custom-checkbox:hover ~ .checkbox-wrapper{
            opacity: 0.1;
        }
        
        
        .label-text {
            margin-left: 10px;
            cursor: pointer;
            font-size: $mediumFontSize;
        }
    }
    
}