@import "../variables.scss";
.navbar {
    height: 70px;
    width: 100%;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    .navbar-logo {
        height: 50px;
    }
    .navbar-options-container {
        width: fit-content;
        display: flex;
        gap: 30px;
        .navbar-option {
            font-size: $mediumFontSize;
            color: $sencondaryBorderColor;
            text-decoration: none;
            background-color: transparent;
            padding: 5px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            &:hover {
                border: 2px solid $primaryBgColor;
            }
        }
        .navbar-active-option {
            color: $primaryBgColor;
            border: 2px solid $primaryBgColor;
        }
    }
    .navbar-avatar {
        height: 60px;
        cursor: pointer;
    }
}
