.navbar-container{
    display: flex;
    align-items: center;
    width:100%;
    height: 80px;
    box-shadow: 1px 1px 4px 1px rgb(145, 143, 143);

    .icon-container{
        width: 200px;
        height: 100%;
        padding: 10px 30px;
        .application-icon-bar{
            width: 140px;
            height: 100%;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .options-avtar-wrapper{
        display: flex;
        width: 90%;
        height: 100%;
        gap: 40px;

    }
}

.options-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    gap: 40px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .option-container{
        cursor: pointer;
        display: flex;
            justify-content: center;
        flex-direction: column;
        &:hover{
                cursor: pointer;
            }
            .option-data{
                display: flex;
                align-items: center;
                margin-bottom: 4px;
                &:hover{
                    text-decoration: underline cyan 2px;
                }
                .navbar-option-icon{
                  width: 25px;
                  height: 25px;
                }
                .navbar-option-text{
                  font-size: 25px;
                }
            }
            .inactive-slide-option{
                height: 5px;
                visibility: none;
                border-radius: 5px;
            }
            .active-slide-option{
                height: 5px;
                border: none;
                width: 100%;
                border-radius: 5px;
                animation: activeSilderAnimation 1s ease-in-out;
                .progress-line{
                    height: 100%;
                    border-radius: 10px;
                    background-color: rgb(20, 127, 220);
                    animation: loading 1s forwards cubic-bezier(0,0,0,0);
                }
                @keyframes loading {
                    0%{
                        width: 0;
                    }
                    100%{
                        width: 100%;
                    }
                }
            }
    }
}



.avtar-icon-container{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
    .avtar-icon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
    }
}
.navbar-container-direction-left{
    flex-direction: row-reverse;
}

.menu-icon-bar{
    display: none;
}
@media screen and (max-width:1200px) {
    .options-container{
        gap: 15px;
        
    }

}
@media screen and (max-width:920px) {
    .options-avtar-wrapper{
        display: none;
    }

}

@media screen and (max-width: 920px) {
    .menu-icon-bar{
    display: block;
    width: 100px;
    padding:20px 30px;
    .menu-icon{
        font-size: 35px;
        cursor: pointer;
    }
   }
   .navbar-container{
    justify-content: space-between;
    position: relative;
   }
    .mobile-view-options-container{
        position: absolute;
        
        display: block;
        top: 100%;
        right: 0;
        height: fit-content;
        width: 50%;
        .options-container{
            background-color: grey;     
        position: absolute;
        display: block;
        top: 100%;
        right: 0;
        height: fit-content;
        width: 100%;
        }
        .avtar-icon-container{
            width: 100%;
            border-bottom: 1px solid black;
        padding: 5px 0;
        justify-content: left;
        background-color: grey;   
        }
        
    }
}