@import '../variables.scss';
.drawer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $primaryBg;
  box-shadow: 1px 1px 3px 1px $box-shadow-color;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .web-master-icon-container{
border-bottom: 1px solid $bottom-border-color;    
.web-master-icon{
      margin: 0 20px;
      padding:10px;
      width: 120px;
      height: 80px;
    }
  }
  .drawer-option {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid $bottom-border-color;
    .drawer-option-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .drawer-option-text {
      display: flex;
      align-items: center;
      justify-content: left;
      font-size: 25px;
      padding-left: 10px;
      color:$text-color-black;
      width: 100%;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.drawer-left-open {
  height: 100vh;
  width: 30%;
  padding-right: 2px;
  top: 0;
  animation: drawerOpenAnimationLeft 1s forwards;
}
.drawer-right-open {
  height: 100vh;
  width: 30%;
  padding-right: 2px;
  top: 0;
  animation: drawerOpenAnimationRight 1s forwards;
}
.drawer-top-open {
  width: 100vw;
  max-height: 80%;
  padding-right: 2px;
  position: absolute;
  left: 0;
  animation: drawerOpenAnimationTop 1s forwards;

}
.drawer-bottom-open {
  width: 100vw;
  max-height: 80%;
  padding-right: 2px;
  position: absolute;
  left: 0;
  animation: drawerOpenAnimationBottom 1s forwards;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .drawer-left-open,
  .drawer-right-open {
    width: 40%;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .drawer-left-open,
  .drawer-right-open {
    width: 50%;
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  .drawer-left-open,
  .drawer-right-open {
    width: 60%;
    .drawer-option {
      padding: 5px;
      .drawer-option-text,
      .drawer-option-icon {
        font-size: 20px;
        padding: 5px;
        img {
          font-size: 20px;
        }
      }
    }
  }
  .drawer-top-open,
  .drawer-bottom-open {
    .drawer-option {
      padding: 5px;
      .drawer-option-text,
      .drawer-option-icon {
        font-size: 20px;
        padding: 4px;
        img {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) and (min-width: 300px) {
  .drawer-left-open,
  .drawer-right-open {
    width: 80%;
    .drawer-option {
      padding: 5px;
      .drawer-option-text,
      .drawer-option-icon {
        font-size: 15px;
        padding: 4px;
        img {
          font-size: 15px;
        }
      }
    }
  }
  .drawer-top-open,
  .drawer-bottom-open {
    .drawer-option {
      padding: 5px;
      .drawer-option-text,
      .drawer-option-icon {
        font-size: 15px;
        padding: 4px;
        img {
          font-size: 15px;
        }
      }
    }
  }
  
}

@keyframes drawerOpenAnimationLeft {
  0%{
    left:-100%;
  }
  100%{
    left: 0;
  }
}

@keyframes drawerOpenAnimationRight {
  0%{
    right:-100%;
  }
  100%{
    right: 0;
  }
}
@keyframes drawerOpenAnimationTop {
  0%{
    top:-100%;
  }
  100%{
    top: 0;
  }
}
@keyframes drawerOpenAnimationBottom {
  0%{
    bottom:-100%;
  }
  100%{
    bottom: 0;
  }
}
